@import "tailwindcss";

@theme {
  --color-brand-bg: #0f0f1b;
  --color-brand-card: rgba(255, 255, 255, 0.03);
  --color-brand-border: rgba(255, 255, 255, 0.1);
  --color-brand-purple: #6366f1;
  --color-brand-orange: #f97316;
  --font-display: "Outfit", sans-serif;
}

body {
    background-color: var(--color-brand-bg);
    color: white;
    font-family: var(--font-display);
}


/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";
